*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    max-height: 100%;
}

body{
    font-family: "gaming";
}

@font-face {
    font-family: "gaming";
    src: url("../assets/font/BruceForeverRegular-X3jd2.ttf");
}